.hero {
    position: relative;

    .heroContent {
        display: flex;
        flex-direction: column;

        .left {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-top: 5rem;

            .heading {
                font-family: var(--font-heading);
                font-size: 7.5rem;
                line-height: 0.89;
                text-align: right;
                letter-spacing: -5px;
            }
        }

        .bottom {
            width: 21.5rem;
            margin-top: 9rem;
            margin-right: 3.75rem;
            margin-left: auto;
            color: rgba(160, 168, 220, 0.7);
            line-height: 1.7;

            .lead {
                margin-bottom: 1.25rem;
                font-weight: 300;
                color: #fff;
                font-size: 1.6rem;
                line-height: 1.52;
            }
        }

        .line {
            position: absolute;
            background-color: var(--color-accent);
            height: 1px;
            pointer-events: none;
        }

        .firstLine {
            top: 50%;
            left: -16.56rem;
            width: 42.5rem;
            -webkit-transform: rotate(45deg) translateY(-50%) translateY(-50px);
            transform: rotate(45deg) translateY(-50%) translateY(-50px);
        }

        .secondLine {
            top: 21.875rem;
            right: 9.3rem;
            width: 10rem;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}