@import url('./base/reset.css');
@import './base/fonts.css';
@import './base/variables.css';

html,
body,
#root {
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: var(--font-body);
}

main {
  position: relative;
}

.canvas::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url("/images/background-l.png");
  background-size: cover;
  z-index: -1;
  transition: all 0.3s linear;
}

main:has(#featuredProjects #titleHeading:hover) #canvas::after {
    opacity: 0;
}

.images {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }
}

main:has(#featuredProjects #title[img-title="tomorrowland"]:hover) #images #tomorrowland {
  opacity: 1;
  background-color: #07152B;
}
main:has(#featuredProjects #title[img-title="navyPier"]:hover) #images #navyPier {
  opacity: 1;
  background-color: #0C132D;
}
main:has(#featuredProjects #title[img-title="msiChicago"]:hover) #images #msiChicago {
  opacity: 1;
  background-color: #071936;
}
main:has(#featuredProjects #title[img-title="phone"]:hover) #images #phone {
  opacity: 1;
  background-color: #071E2C;
}
main:has(#featuredProjects #title[img-title="kikk"]:hover) #images #kikk {
  opacity: 1;
  background-color: #0F1D7D;
}
main:has(#featuredProjects #title[img-title="kennedy"]:hover) #images #kennedy {
  opacity: 1;
  background-color: #162D38;
}
main:has(#featuredProjects #title[img-title="opera"]:hover) #images #opera {
  opacity: 1;
  background-color: #670C0F;
}

section {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}