.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.125rem 2.8rem;

    .navIcon {
        font-size: 1.5rem;
    }

    .elemAccent .navIcon {
        color: var(--color-accent);
    }

    .logo {
        width: 6.5rem;
        height: 1.875rem;
        pointer-events: all;
    }
}