@font-face {
  font-family: Heebo;
  src: url('/fonts/Heebo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Heebo-Thin;
  src: url('/fonts/Heebo-Thin.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: GTSectraDisplay;
  src: url('/fonts/GTSectraDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: GTSectraDisplay-Regular;
  src: url('/fonts/GTSectraDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: url('/fonts/Gilroy-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}