:root {
  --color-white: #fff;
  --color-bg: #0E101A;
  --color-accent: #A72E35;
  --color-para: rgba(160, 168, 220, 0.7);

  --font-body: Heebo, Helvetica, Arial, sans-serif;
  --font-heading: GTSectraDisplay, Times, Georgia, serif;
}